<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Carpenter.PageDesigner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PageDesigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Carpenter.PageDesigner.Settings>
            <setting name="ThumbnailLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="PageUrlLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="MonthLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="YearLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthorLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="ConvertImageNames" serializeAs="String">
                <value>True</value>
            </setting>
        </Carpenter.PageDesigner.Settings>
        <PageDesigner.Properties.Settings>
            <setting name="BaseUrlLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="PageUrlLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="TitleLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="LocationLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="MonthLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="YearLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthorLastUsedValue" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraLastUsedValue" serializeAs="String">
                <value />
            </setting>
        </PageDesigner.Properties.Settings>
    </userSettings>
</configuration>